.s1{
    background-image: url(./bg.png);
    background-repeat: no-repeat;
    background-size: cover;
}
.s2{
    background-image: url(./bg\ \(1\).png);
    background-repeat: no-repeat;
    background-size: cover;
}